<ion-header class="header_color">
    <ion-navbar hideBackButton>
        <button ion-button menuToggle style="display:block !important;">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Change Password</ion-title>

    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="logo">
        <img src="assets/imgs/mylogo.png">
    </div>
    <form #heroForm="ngForm" novalidate>
        <ion-list>           
            <ion-item>     
                <ion-label stacked>Old Password*</ion-label>
                <ion-input type="password" placeholder="Old password" [(ngModel)]="data.pass" name="pass" #pass='ngModel' required>  
                </ion-input>
            </ion-item>
            <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="errormsg alert alert-danger">
                <div [hidden]="!pass.errors.required" class="alert alert-danger">
                    Please enter your password
                </div>
            </div> 

            <ion-item>   
                <ion-label stacked>New Password*</ion-label>
                <ion-input type="password" placeholder="New Password" [(ngModel)]="data.repassword" name="repassword" #repassword='ngModel' required></ion-input>
            </ion-item>
            <div *ngIf="repassword.errors && (repassword.dirty || repassword.touched)" class="errormsg alert alert-danger">
                <div [hidden]="!repassword.errors.required" class="alert alert-danger">
                    Please re-enter your password
                </div>
            </div> 
        </ion-list>

    </form>
</ion-content>
        <ion-footer class="footer">
            <ion-toolbar>
                <button type='submit' class="chngebtn" ion-button clear [disabled]="!heroForm.valid" (tap)="submitt(heroForm)">Confirm Password</button>
            </ion-toolbar>
        </ion-footer>
