page-privacypolicy {
		.logo {
    width: 110px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #b2b1b1;
    height: 110px;
    margin: 0 auto;
    img {
            width: 100%;
    padding: 8px;
    height: 100%;
  }
	}
	.description{
		p{
		color: #6f6f6f;
    	font-size: 13px !important;
    	text-align: justify;
	}
	}

}
