page-postjobs {

    .top{
        width: 100%;
        float: left;
        height: 38vh;
        background-color:#353951; 
        background-image: url(../assets/imgs/bg.png);
        background-repeat: repeat;
        background-size: cover;
        background-position: 0;
        img {
            width:  20%;
            margin: 20px auto 0px;
            display: block;
        }
        h4 {
            width:  100%;
            float:  left;
            text-align:  center;
            color:  #fff;
            margin: 10px 0;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    .bottom{
        width: 100%;
        float: left;
        height: 50vh;
        position: relative;

        .create_now{
            width: 100%;
            float: left;
            color: #353951;

            a{
                color: #353951;
                text-decoration: underline;
                text-transform: capitalize;
            }

        }
    }
    .box_btm_inner{
        border-radius:  8px;
        box-shadow: 0px 4px 9px 0px #e6dada;
        overflow: hidden;
        background:  #fff;
        padding: 20px 30px;
        margin-bottom: 20px;


        .quali{
            padding: 0 !important;

        }
    }
    .create_now {
        width: 100%;
        float: left;
        color: #353951;
        margin: 20px 0;
        text-align: center;
    }

    .box_btm {
        width:  90%;
        position:  absolute;
        left:  0;
        margin: auto;
        right: 0;
        top: -80px;

        form {
            width:  100%;
            float: left;

            .selectheight{
                min-height: 29px;
                ion-select{
                    padding-top: 10px !important;
                }
            }

            ion-select{
                max-width:100%;
                width:100%;

            }
            .preference{
                width: 100%;
                float: left;
                padding-left: 10px;
                ion-item{
                    width: 50%;
                    float:left;
                    padding:0;

                    .item {
                        padding:0;
                    }
                   ion-label{
				font-size: 13px;
                                margin: 0;
                line-height: 14px;
                text-overflow: unset;
                white-space: pre-line;
                overflow: visible;
			}
                }

                h3{
                    color: #b3aeae;
                    font-size: 13px;
                    text-align: center;
                }
                .item-inner{
                    border-bottom: 0px;
                }
                ion-checkbox{
                    margin: 0 4px 0px 0 !important;

                    .checkbox-icon{
                        border-radius: 4px;
                        position: relative;
                        width: 15px;
                        height: 15px;
                        border-width: 1px;
                        background-color: #fff;
                        .checkbox-inner {
                            border-color: #6b6767;
                            left: 5px;
                            top: 1px; 

                        }
                    }

                }
            }


        }
        .icn{
            margin-bottom: -20px !important ; 
        }
        form > .list {
            margin-bottom: 25px;
            width:  100%;
            float: left;
        }

        form > .list > .item {
            border-top: none;
            padding: 0;
            margin-bottom: 15px;
        }

        form > .list > .item > .item-inner {
            padding: 0;
        }

        form > .list > .item > .item-inner .label {
            text-transform: capitalize;
            color: #b7b7b7;
            padding: 0 10px;
        }

        form .main_btn {
            width: 55%;
            height: 35px;
            margin: 0 auto 15px;
            float: none;
            display: block;
            background: #353951;
            text-transform: capitalize;
            font-size: 15px;
            letter-spacing: 1px;
        }

        .forgot{
            width: 70%;
            float: none;
            margin: 0 auto;
            display: block;
            color: #556571;
            letter-spacing: 1px;
            text-align: center;
            text-transform: capitalize;
        }

    }
}
.mrbotm{
    margin-bottom: 20px;
}
.chngebtn{
    ont-size: 14px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    width: 100%;
}


