page-signup {
    .cstmheader .toolbar-title{
        width: 80% !important;
    }

    .top{
           width: 100%;
            float: left;
            min-height:40vh;
            background-color: #353951;
            background-image: url(../assets/imgs/bg.png);
            background-repeat: repeat;
            background-size: cover;
            background-position: 0;

     h4 {
        width:  100%;
        float:  left;
        text-align:  center;
        color:  #fff;
        margin: 28px 0;
        text-transform: uppercase;
        font-size: 15px;
    }
   	.logo {
    width: 110px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #b2b1b1;
    height: 110px;
    margin:15px auto;
    img {
            width: 100%;
    padding: 8px;
    height: 100%;
  }
	}
}
    .bottom{
        width: 100%;
        float: left;
        height: 50vh;
        position: relative;

        .create_now{
            width: 100%;
            float: left;
            color: #353951;
        
        a{
            color: #353951;
            text-decoration: underline;
            text-transform: capitalize;
        }

        }
    }
    .box_btm_inner{
        border-radius:  8px;
        box-shadow: 0px 4px 9px 0px #e6dada;
        overflow: hidden;
        background:  #fff;
        padding: 20px 30px;
        margin-bottom:35px;

        .age{
        display: inline-block;
        font-size: 13px;
        color: #000;
        float: right;
        margin: 3px 0px;
        /* justify-content: flex-end; */
         input{
            float: left;
        }
        label{
            float: left;
            padding:2px 2px;
        }
        }
        .areyou{
         font-size: 13px;
        display: inline-block;
        float: left;
            margin-top: 2px;
        }
    }
    .create_now {
        width: 100%;
        float: left;
        color: #353951;
        margin: 20px 0;
        text-align: center;
    }

    .box_btm {
        width:  90%;
        position:  absolute;
        left:  0;
        margin: auto;
        right: 0;
        top: -140px;
    
    form {
        width:  100%;
        float: left;

        ion-item{
            border-bottom: 1px solid #dedede;
        }
    }
    
     form .list {
         margin-bottom: 25px;
         width:  100%;
         float: left;
        }
    
     form .list .item {
        border-top: none;
        padding: 0;
        margin-bottom: 15px;
    }
    
     form .item-inner {
        padding: 0 !important;
    }
    form .item-inner .select {
        padding: 8px 10px;
        color: #353951;
    }
    form .main_btn {
        width: 55%;
        height: 35px;
        margin: 30px auto 45px;
        float: none;
        display: block;
        background: #353951;
        text-transform: capitalize;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .forgot{
        width: 70%;
        float: none;
        margin: 0 auto;
        display: block;
        color: #556571;
        letter-spacing: 1px;
        text-align: center;
        text-transform: capitalize;
    }

}
form >.list > .item-block:first-child{
    border-top: 0px;
}
form .item-inner .label {
    text-transform: capitalize;
    color: #b7b7b7;
    padding: 0 10px;
}




}
